@import "tailwindcss";

/* Definición de colores claros */
:root {
  --background: #ded3ca; /* fondo principal claro */
  --foreground: #631400; /* texto principal bordó profundo */
  --color-primary: #ded3ca; /* redundante para claridad semántica */
  --color-secondary: #d4c3af; /* fondo secciones */
  --color-text-main: #631400; /* texto principal */
  --color-accent: #ab832b; /* dorado envejecido */
  --color-neutral-soft: #f5f1ec; /* beige casi blanco */
  --color-dark-soft: #2e2e2e; /* negro suave */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-text-main: var(--color-text-main);
  --color-accent: var(--color-accent);
  --color-neutral-soft: var(--color-neutral-soft);
  --color-dark-soft: var(--color-dark-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans), sans-serif;
}